/* 	
	Responsive Starter 04.15.13
	Demo styles
*/
/* DEMO FORMATTING ONLY
-------------------------------------- */
.demo .col {
	color: #fff;
	background-color: #666;
	border-radius: 0.2em;
}
/* --- TABLET PORTRAIT + --- */
@media only screen and (min-width: 768px) {
	.demo .row {
		height: 2em;
	}
}